<div class="main">
    <div class="row format-row p-l-c-127 p-r-c-127 bgr-color-white p-t-5 p-b-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 padding-0 flex-center-y">
            <a href="#" class="m-t--4"> <img src="/image/bg-cgv-bread-home.png" alt="home"></a>
            <span class="m-l-10"><img src="/image/bg-cgv-icon-arrow.png" alt="arrow"></span>
            <span class="m-l-10 format-text-directly">Movies</span>
            <span class="m-l-10"><img src="/image/bg-cgv-icon-arrow.png" alt="arrow"></span>
            <span class="m-l-10 format-text-directly">Now Showing</span>
            <span class="m-l-10"><img src="/image/bg-cgv-icon-arrow.png" alt="arrow"></span>
            <span class="m-l-10 format-text-directly"><strong class="text-underline"><%=data[0].movie_name%></strong></span>
        </div>
    </div>
    <div class="row format-row p-l-127 p-r-127 page-title bgr-color-white">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 padding-0 category-title">
            <h1 class="format-text-tilte">Movie Detail</h1>
        </div>
    </div>
    <div class="row format-row p-l-127 p-r-127">
        <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8 padding-0">
            <section>
                <article>
                    <div class="row format-row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 padding-c-0 p-l-c-0 p-r-c-15 p-l-c-15">
                            <div class="detail-fit-image">
                                <img src="<%=data[0].movie_poster%>" class="img-fluid" alt="<%=data[0].movie_name%>">
                                <div class="play-btn">
                                    <button class="btn-p" data-toggle="modal"
                                    data-target="#exampleModal"><i class="fa-solid fa-play size-icon-play"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 p-l-c-0">
                            <span class="detail-text-tilte"><%=data[0].movie_name%></span>
                            <div class="buffer-line"></div>
                            <span class="detail-text-subtitle">Director:</span>
                            <span class="detail-content-subtitle"><%=data[0].movie_director%></span>
                            <br>
                            <span class="detail-text-subtitle">Cast:</span>
                            <span class="detail-content-subtitle"><%=data[0].movie_actor%></span>
                            <br>
                            <span class="detail-text-subtitle">Genre:</span>
                            <span class="detail-content-subtitle"><%=genres%></span>
                            <br>
                            <span class="detail-text-subtitle">Release Date:</span>
                            <span class="detail-content-subtitle"><%=data[0].movie_release%></span>
                            <br>
                            <span class="detail-text-subtitle">Running Time:</span>
                            <span class="detail-content-subtitle"><%=data[0].movie_length%></span>
                            <br>
                            <span class="detail-text-subtitle">Language:</span>
                            <span class="detail-content-subtitle"><%=data[0].movie_language%></span>
                            <br>
                            <span class="detail-text-subtitle">Rated:</span>
                            <span class="detail-content-subtitle"><%=data[0].rated_name%> - <%=data[0].rated_description%></span>
                            <br>
                            <div class="movie-technology-icons">
                                <%if(data[0].rated_name == "C13"){%>
                                    <span class="movie-rating-detail c13">Rated : C13</span>
                                <%} else if(data[0].rated_name == "C16") {%>
                                    <span class="movie-rating-detail c16">Rated : C16</span>
                                <%} else if(data[0].rated_name == "C18") {%>
                                    <span class="movie-rating-detail c18">Rated : C18</span>
                                <%} else {%>
                                    <span class="movie-rating-detail p">Rated : P</span>
                                <%}%>
                                <%for(let i =0; i< format.length; i++){%>
                                    <%if(format[i].format_name == "3D"){%>
                                        <a class="movie-detail-icon-type" title="3D">
                                            <span class="movie-detail-type-3d">3D</span>
                                        </a>
                                    <%} else if(format[i].format_name == "4DX3D") {%>
                                        <a class="movie-detail-icon-type" title=" 4DX">
                                            <span class="movie-detail-type-4dx"> 4DX</span>
                                        </a>
                                    <%} else if(format[i].format_name == "IMAX3D") {%>
                                        <a class="movie-detail-icon-type" title=" IMAX">
                                            <span class="movie-detail-type-imax"> IMAX</span>
                                        </a>
                                    <%} else if(format[i].format_name == "SCREENX-2D") {%>
                                        <a class="movie-detail-icon-type" title=" ScreenX">
                                            <span class="movie-detail-type-screenx"> ScreenX</span>
                                        </a>
                                    <%} else {%>
                                        <a class="movie-detail-icon-type" title=" 2D">
                                            <span class="movie-detail-type-2d"> 2D</span>
                                        </a>
                                    <%}%>
                                <%}%>
                            </div>
                            <div class="box-like-booking m-t-20">
                                <button class="btn-like" id="<%=data[0].movie_id%>">
                                    <i class="fa-regular fa-thumbs-up size-like"></i>
                                    <span>Like <span id="Like"> <%=data[0].movie_like%> </span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row format-row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-40 p-r-c-15 p-l-c-15">
                            <span class="text-movie-content">MOVIE CONTENT</span>
                            <div class="buffer-line-100"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-20 p-r-c-15 p-l-c-15">
                            <span><%=data[0].movie_description%></span>
                        </div>
                    </div>
                    <form class="row format-row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-40 p-r-c-15 p-l-c-15">
                            <span class="text-movie-content">BOOK NOW</span>
                            <div class="buffer-line-100"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-20 p-r-c-15 p-l-c-15 margin-b-20">
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" onfocus="(this.type='date')" id="dateShowing"
                                    class="form-control" placeholder="Select Date" name="dateShowing" />
                            </div>
                            <div class="hide-spinner" id="spinnerLoading">
                                <div class="spinner-border text-info"></div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-20 p-r-c-15 p-l-c-15">
                            <div class="buffer-line"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-40 p-r-c-15 p-l-c-15">
                            <span class="detail-text-subtitle">SELECT CITY</span>
                            <div class="buffer-line-100"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 p-r-c-15 p-l-c-15" >
                            <div class="row format-row click-btn-city" id="chooseCity">
                                
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-20 p-r-c-15 p-l-c-15">
                            <div class="buffer-line"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-40 p-r-c-15 p-l-c-15">
                            <span class="detail-text-subtitle">SELECT SOLUTION</span>
                            <div class="buffer-line-100"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 p-r-c-15 p-l-c-15" >
                            <div class="row format-row click-btn-solution" id="chooseSolution">
                               
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-20 p-r-c-15 p-l-c-15">
                            <div class="buffer-line"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-40 p-r-c-15 p-l-c-15">
                            <span class="detail-text-subtitle">CINEMAS</span>
                            <div class="buffer-line-100"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 p-r-c-15 p-l-c-15" >
                            <div class="row format-row click-btn-schedule" id="chooseSchedule">
                               
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 p-l-0 m-t-20 p-r-c-15 p-l-c-15">
                            <div class="buffer-line"></div>
                        </div>
                    </form>
                </article>
            </section>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4 p-r-0 hide-now-showing">
            <div class="row format-row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 padding-0">
                    <span class="detail-text-tilte">NOW SHOWING</span>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 padding-0">
                    <div class="buffer-line-100"></div>
                </div>
            </div>
            <div class="row format-row m-t-20">
                <%if(films.length < 3){%>
                    <%for(let i =0; i< films.length; i++){%>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 padding-0">
                            <div class="box-img-title margin-b-20">
                                <img src="<%=films[i].movie_poster2%>" alt="<%=films[i].movie_name%>" class="img-fluid m-b-5">
                                <span class="format-name-movie"><%=films[i].movie_name%></span>
                            </div>
                        </div>
                    <%}%>
                <%} else{%>
                    <%for(let i =0; i< 3; i++){%>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 padding-0">
                            <div class="box-img-title margin-b-20">
                                <img src="<%=films[i].movie_poster2%>" alt="<%=films[i].movie_name%>" class="img-fluid m-b-5">
                                <span class="format-name-movie"><%=films[i].movie_name%></span>
                            </div>
                        </div>
                    <%}%>
                <%}%>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="exampleModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Trailer <%=data[0].movie_name%></h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe style="width:100%; height:300px;" src="<%=data[0].movie_trailer%>" title="<%=data[0].movie_name%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>